*{
    padding:0;
    margin:0;
    font-family: 'Poppins', sans-serif;;
}

body{
    background-color: rgb(240,240,240);
}

.box{
    /* border:2px solid red; */
    height:75vh;
    width:50%;
    background-color: white;

    margin-left: auto;
    margin-right:auto;

    margin-top:80px;
    border-radius: 23px 23px 136px 23px;
}

.innerbox{
    /* border:2px solid red; */
    display: flex;
    flex-direction: column;
    margin:20px 0px;
    width:26%;
}

.innerbox input{
    margin-top:7px;
    margin-left:30px;
    border-radius:8px;
    height:35px;
    width:60%;
}

.innerbox p{
    padding-left:30px;
    padding-top:15px;
    padding-bottom: 10px;
    opacity: 0.75;
}

.innerbox #error-day{
    color:#c92432;
    font-size: 0.8rem;
    padding-top: 6px;
}

.innerbox #error-month{
    color:#c92432;
    font-size: 0.8rem;
    padding-top: 6px;
}

.innerbox #error-year{
    color:#c92432;
    font-size: 0.8rem;
    padding-top: 6px;
}

form {
    display: flex;
}


.innerbox input::placeholder{
    font-weight: bold;
    font-size: 20px;
}

.innerbox input[type=text]{
    padding:10px 15px;
    font-size: 20px;
    font-weight: bold;
}

.linebox{
    display: flex;
}

.line{
    width:70%;
    margin-top:40px;
    margin-left:30px;
    margin-right:70px;
}

.calc{
    border-radius: 40px;
    height:80px;
    width:80px;
    background-color: hsl(259, 100%, 65%);
}

.calc:hover{
    background-color: black;
}

.output .year{
    /* border:2px solid black; */
    display: flex;
    align-items:flex-end;
}

#y{
    margin-left:40px;
    margin-right: 5px;
    font-size:4rem;
    color:hsl(259, 100%, 65%);
    font-weight: bolder;
}

.output .month{
    /* border:2px solid black; */
    display: flex;
    align-items: flex-end;
}

#m{
    margin-left:40px;
    margin-right: 5px;
    font-size:4rem;
    color:hsl(259, 100%, 65%);
    font-weight: bolder;
}

.output .days{
    /* border:2px solid black; */
    display: flex;
    align-items: flex-end;
}

#d{
    margin-left:40px;
    margin-right: 5px;
    font-size:4rem;
    font-weight: bolder;
    color:hsl(259, 100%, 65%);
}

#y1{
    font-size: 4rem;
    margin-left:9px;
    font-style: italic;
}

#m1{
    font-size: 4rem;
    margin-left:9px;
    
    font-style: italic;
}

#d1{
    font-size: 4rem;
    margin-left:9px;
    font-weight: bold;
    font-style: italic;
}

